<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN">
    <appenders>
        <File name="ExceptionFile" fileName="logs/ExceptionFile.log" >
            <PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Filters>
                <MarkerFilter marker="ERRORS" />
            </Filters>
        </File>
    </appenders>
    <loggers>
        <root level="error">
            <appender-ref ref="ExceptionFile" level="error"/>
        </root>
    </loggers>
</configuration>